selenium
webdriver-manager

now lets go to actual calculation. to do calculation, i need to calculate the rations; win draw and losses of current season, past season, and other older seasons in the tables. so if it is Arsenal vs Liverpool, i need to get calculations like Current league table standing. Arsenal total win current sesaon/ total matches played this season. Arsenal total draw this sesaon/total matches played. arsenal total losses this season/total game played. same for liverpool for current season. same calculations for last season for both home and away team. in this case example arsenal and liverpool. and for the history we get head to head ratios of arsenal and liverpool of course we set parameters to auto get home team and away team. but we get home total wins(arsenal)/total matches between them in past years, away total wins(liverpool)/total matches between them. and lastly total draws between them/total matches between them, of whaterver histroy db we have them off.